<% title "Create Conversation" %>

<div class="conversation new">
  <%= link_to("&laquo; Back to List".html_safe, conversations_path, :class => 'btn btn-primary btn-back') %>

  <%= form_for([@conversation]) do |f| -%>
    <%= render(partial: "form", locals: {f: f}) %>
    <div id="operations">
      <%= submit_tag("Create Conversation", class: 'btn btn-primary') %>
      <input type="button" value="Cancel" class="btn btn-default btn-cancel" onclick="window.location.href='<%= conversations_path %>';" />
    </div>
  <% end %>
</div>