<% title "Create Conversation" %>

<div class="conversation new">
  <%= link_to("&laquo; Back to List".html_safe, conversations_path, :class => 'btn btn-primary btn-back') %>

  <%= form_for([@conversation]) do |f| -%>
    <%= render(partial: "form", locals: {f: f}) %>
    <div id="operations">
      <%= submit_tag("Create Conversation", class: 'btn btn-primary') %>
      <input type="button" value="Cancel" class="btn btn-default btn-cancel" onclick="window.location.href='<%= conversations_path %>';" />
    </div>
  <% end %>
</div>

<%= content_for :javascript do %>
  
  <script>
    var polisGateway = polisGateway('<%= @current_user.organization.api_key %>')
    $(document).ready(function() {
      $('form').submit(function() {
      var form = this;
      var conversation_id
      var dataOptions = {}
      polisGateway.createConversation()
      .then(function(response) {
        console.log(response.data.conversation_id)
        conversation_id = response.data.conversation_id;
        $('#conversation_conversation_id').val(conversation_id)
        dataOptions['topic'] = $('#conversation_topic').val();
        dataOptions['description'] = $('#conversation_description').val();
      })
      .then(function() {
        polisGateway.updateConversation(conversation_id, dataOptions)
      })
      .then(function(response){
        form.submit(function() {return true});
        form.submit()
        return false;
      })
      .catch(function(error){ console.log(error); return false;})
      return false;
      })
    })
  </script>

<% end %>