<% title 'Forgot My Password' %>


<h1 class="text-center mb-5 mt-4">Forgot My Password</h1>

<%= form_tag send_reset_token_access_path, :method => :put  do %>
  <fieldset class="basic-shadow justify-content-center align-items-center container col-xl-4 col-md-6 col-sm-10 col-xs-12 border mt-5 p-4 forgot-password">  
    <%= image_tag('logo_no_edge.png', alt: BRAND, height:35, class:'mx-auto my-4', style: 'display:block;') %> 
    <div class='row'>
          <div class="form-label-group col-12">
            <%= text_field_tag(:email, params[:email], class: "form-control", placeholder: "Email", required:"", autofocus:"", autocomplete:"off") %>
            <%= label_tag('email', 'Email', class: "") %>
          </div>
      </div>


    <div class="actions">
      <%= button_tag(type: "submit", class: "btn btn-lg btn-primary btn-block col-md-12 text-light") do %>
         Reset My Password
      <% end %>
    </div>

    
  </fieldset>
<% end %>