<% title 'Reset My Password' %>

<%= error_messages_for(@admin) %>


<%= form_tag update_password_staff_access_path, method: :put do %>
  <fieldset class="rounded-shadow justify-content-center align-items-center container col-xl-4 col-md-6 col-sm-10 col-xs-12 border mt-5 p-4 signup">  
    <%= image_tag('logo_no_edge.png', alt: BRAND, height:35, class:'mx-auto my-4', style: 'display:block;') %> 
        <%= hidden_field_tag :token, params[:token] %>
       <div class='row'>
          <div class="form-label-group col-12">
            <%= password_field_tag(:password, nil, class: "form-control", placeholder: "Password", required:"", autofocus:"", autocomplete:"off") %>
            <%= label_tag('password', 'Password', class: "") %>
          </div>
      </div>

       <div class='row'>
          <div class="form-label-group col-12">
            <%= password_field_tag(:password_confirmation, nil, class: "form-control", placeholder: "Password", required:"", autofocus:"", autocomplete:"off") %>
            <%= label_tag('password_confirmation', 'Password Confirmation', class: "") %>
          </div>
      </div>



    <div class="actions">
      <%= button_tag(type: "submit", class: "btn btn-lg btn-primary btn-block col-md-12 text-light") do %>
          <i class="oi oi-lock-locked"></i> Reset Password
      <% end %>
    </div>

    
  </fieldset>
<% end %>