<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="The Ryan Office">
    <meta name="description" content='Privately track your accomplishments, projects, and all of the good stuff you do in real-time so you’ll always be ready for your next career opportunity.'>
    <meta name="keywords" content="<%= @meta_keywords || 'conversa' %>">
    <meta name="robots" content="<%= @norobots ? "nofollow,noindex" : "follow,index" %>">
    <meta name="revisit-after" content="3 days" />
    <meta name="format-detection" content="telephone=no">

    <title><%= BRAND %> | <%= content_for?(:title) ? yield(:title) : 'conversa' %></title>

    <%= stylesheet_link_tag("application") %>
    <%= javascript_include_tag("application") %>

    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>

    <%= yield(:javascript) %>
  </head>

  <body>

    <% if Rails.env.production? %>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=ID"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="<%= root_path %>"><%= BRAND %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if @current_user %>
              <li class="nav-item float-right">
                <%= link_to 'Conversations', conversations_path, class: 'nav-link' %>
              </li>
              <li>
                <%= link_to 'Invite', invite_path, class: 'nav-link' %>
              </li>
              <li>
                <%= link_to 'Settings', settings_path, class: 'nav-link' %>
              </li>
              <li>
                <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Login', login_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <%= render(:partial => 'application/flash_messages') %>
    <div class=<%= @fluid ? "container-fluid" : "container" %>>
      <%= yield %>
    </div>

    <%# render partial: 'layouts/footer' %>

  </body>

</html>